[user]
	name = Josh Caffey
	email = jcaffey@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesfile = /Users/jcaffey/.gitignore_global
	pager = diff-so-fancy | less --tabs=4 -RFX
[github]
	user = jcaffey@gmail.com
