*

# whitelist first level .dirs (.tmux, .vim, etc..)
!*/

# whitelist
!.dotfiles_os
!.gitignore
!bin/bin/email
!bin/bin/snip
!git/**/.gitkeep
!guides/**/.gitkeep
!hyper/.hyper.js
!mbsync/**
!msmtp/**
!nvm/.nvm/.npmrc
!sup/**
tmux/.tmux/**
!tmux/.tmux.conf
!tmux/.tmux/.hybrid-theme.tmuxline
!vifm/vifmrc/.gitkeep
!vifm/.vifm/.zenburn_1.vifm
vim/.vim/**
!vim/.vimrc
!vim/.vim/.backup/.gitkeep
!vim/.vim/.swp/.gitkeep
!vim/.vim/.undo/.gitkeep
!zsh/**

