*

# whitelist first level .dirs (.tmux, .vim, etc..)
!*/

# whitelist
!.dotfiles_os
!.gitignore
!README.md
!ansible.md
!local.yml
!Vagrantfile
!ack/.ackrc
!alacritty/**
!bash/.bashrc
!bin/**
!bootstrap.sh
!fish/**
!git/**/.gitkeep
!guides/**
!hyper/.hyper.js
!install.md
!lazy-vim/**
!mbsync/**
!msmtp/**
!nvim/**
!nvm/.nvm/.npmrc
!repo/.config/repo/config.json
!repo.md
!ripgrep/ripgrep.rc
!sup/**
!tmux/.tmux.conf
!tmux/.tmux/darwin.conf
!tmux/.tmux/hybrid-theme.tmuxline
!tmux/.tmux/nord-theme.tmuxline
!tmux/.tmux/ubuntu_wsl.conf
!vifm/.vifm/colors/**
!vifm/vifmrc/.gitkeep
!vim/.vim/.backup/.gitkeep
!vim/.vim/.swp/.gitkeep
!vim/.vim/.undo/.gitkeep
!vim/.vim/templates
!vim/.vimrc
!wallpapers/**
!wezterm/**
!zellij/**
!zsh/**

fish/.config/jump/scores.json
fish/.config/fish/fish_variables
fish/.config/lazygit/state.yml
tmux/.tmux/**
vim/.vim/**


