*

# whitelist first level .dirs (.tmux, .vim, etc..)
!*/

# whitelist
!.dotfiles_os
!.gitignore
!ack/.ackrc
!bash/.bashrc
!bootstrap.sh
!bin/bin/cheat
!bin/bin/email
!bin/bin/repo
!bin/bin/snip
!bin/bin/snipi
!config/.config/nvim/init.vim
!config/.config/Code/User/settings.json
!git/**/.gitkeep
!guides/**
!hyper/.hyper.js
!install.md
!mbsync/**
!msmtp/**
!nvm/.nvm/.npmrc
!README.md
!repo.md
!sup/**
tmux/.tmux/**
!tmux/.tmux.conf
!tmux/.tmux/darwin.conf
!tmux/.tmux/ubuntu_wsl.conf
!tmux/.tmux/hybrid-theme.tmuxline
!tmux/.tmux/nord-theme.tmuxline
!Vagrantfile
!vifm/vifmrc/.gitkeep
!vifm/.vifm/.zenburn_1.vifm
vim/.vim/**
!vim/.vimrc
!vim/.vim/.backup/.gitkeep
!vim/.vim/.swp/.gitkeep
!vim/.vim/.undo/.gitkeep
!vim/.vim/templates
!zsh/**
